index = "omeka"
service = "default"

[default]
host = "localhost"
port = "9200"
scheme = "http"
user = ""
pass = ""

[aws]
host = "search-domain.us-east-1.es.amazonaws.com"
port = "443"
scheme = "https"
region = "us-east-1"
key = ""
secret = ""
