; Index where documents will be stored for the omeka site.
index = "omeka"

; Roles that will allow access to admin controls. 
roles = "admin,super" 

; Section that defines connection parameters for the elasticsearch cluster. 
service = "default"

[default]
host = "localhost"
port = "9200"
scheme = "http"
user = ""
pass = ""

[aws]
host = "search-domain.us-east-1.es.amazonaws.com"
port = "443"
scheme = "https"
region = "us-east-1"
key = ""
secret = ""
