<!DOCTYPE html>
<html>
  
  <head>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script>
      
      window.onload = function() {
        //document.getElementById('coolButton').onclick = myFunction;=
      }
      
      function myFunction() {
      
        var div = document.createElement('div');
        div.className = 'w3-panel w3-row w3-teal';
        
        var content = document.createTextNode('HI');
        div.appendChild(content);
        
        var close = document.createElement('div');
        close.className = 'closeTag';
        div.appendChild(close);
        
        document.body.appendChild(div);
      }
    
    </script>
    
  </head>

  <body>
  
    <div class="w3-container w3-flat-sun-flower">
      <h1>Big Header</h1>
    </div>
    
    <div class="w3-cell-row w3-flat-midnight-blue">
      
      <div class="w3-container w3-cell w3-cell-middle">
        <div class="w3-row">
          <input class="w3-col w3-border-0 l10 w3-input" type="text" placeholder="Search">
          <button class="w3-col l2 w3-button"><i class="fa fa-search"></i></button>
        </div>
      </div>
      
      <div class="w3-container w3-cell w3-cell-middle">
        <h3>Start Date</h3>
        <input type="date" name="bday">
      </div>
      
      <div class="w3-container w3-cell w3-cell-middle">
        <h3>End Date</h3>
        <input type="date" name="bday">
      </div>
      
    </div>
    
    <button id="coolButton"
            class="w3-button"
            onclick="myFunction()">
            Click Here
    </button>
    
  </body>
  
</html>